.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.freeBox__jdWTf {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__jdWTf > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__jdWTf > :global(.__wab_flex-container) > *,
.freeBox__jdWTf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jdWTf > :global(.__wab_flex-container) > picture > img,
.freeBox__jdWTf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jdWTf {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jdWTf > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jdWTf > :global(.__wab_flex-container) > *,
  .freeBox__jdWTf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jdWTf > :global(.__wab_flex-container) > picture > img,
  .freeBox__jdWTf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__ghN8W {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__ghN8W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ghN8W > :global(.__wab_flex-container) > *,
.freeBox__ghN8W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ghN8W > :global(.__wab_flex-container) > picture > img,
.freeBox__ghN8W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__hinjE {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__hinjE > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hinjE > :global(.__wab_flex-container) > *,
.freeBox__hinjE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hinjE > :global(.__wab_flex-container) > picture > img,
.freeBox__hinjE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___6Kg6P {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___6Kg6P > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___6Kg6P > :global(.__wab_flex-container) > *,
.freeBox___6Kg6P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Kg6P > :global(.__wab_flex-container) > picture > img,
.freeBox___6Kg6P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__d7U8C {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-_Z9V5qMhjGq6);
  flex-shrink: 0;
}
.svg___1ONbJ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-_Z9V5qMhjGq6);
  flex-shrink: 0;
}
.svg___5KBFj {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-_Z9V5qMhjGq6);
  flex-shrink: 0;
}
.freeBox__vLEom {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__vLEom > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__vLEom > :global(.__wab_flex-container) > *,
.freeBox__vLEom > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vLEom > :global(.__wab_flex-container) > picture > img,
.freeBox__vLEom
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__eF618 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-_Z9V5qMhjGq6);
  height: auto;
}
.button__m0Uin:global(.__wab_instance) {
  position: relative;
}
.svg__rqYl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__kX66H {
  height: auto;
}
.svg__mLw7F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__jrPf7:global(.__wab_instance) {
  position: relative;
}
.svg__aZSwu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__zccn5 {
  height: auto;
}
.svg__s4JR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__sSlMq:global(.__wab_instance) {
  position: relative;
}
.svg__daeiR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__tIm3H {
  height: auto;
}
.svg__xLEzO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__xAe4D:global(.__wab_instance) {
  position: relative;
}
.svg__uThd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ugkaL {
  height: auto;
}
.svg__zOvfw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___0XXZ {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox___0XXZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___0XXZ > :global(.__wab_flex-container) > *,
.freeBox___0XXZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0XXZ > :global(.__wab_flex-container) > picture > img,
.freeBox___0XXZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__cBS {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-_Z9V5qMhjGq6);
  height: auto;
}
.button__yy7Uz:global(.__wab_instance) {
  position: relative;
}
.svg__wZCot {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ksdju {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__l5Bd:global(.__wab_instance) {
  position: relative;
}
.svg___2Cpog {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__gCweJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__s81Yy:global(.__wab_instance) {
  position: relative;
}
.svg___289Pu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__gWzz2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___6Enzz {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox___6Enzz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___6Enzz > :global(.__wab_flex-container) > *,
.freeBox___6Enzz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Enzz > :global(.__wab_flex-container) > picture > img,
.freeBox___6Enzz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__kTd2D {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-_Z9V5qMhjGq6);
  height: auto;
}
.button__hj15T:global(.__wab_instance) {
  position: relative;
}
.svg___251Ix {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__fdZlm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__iMzVr:global(.__wab_instance) {
  position: relative;
}
.svg__cAizU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__pe8Ye {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__zcqvb:global(.__wab_instance) {
  position: relative;
}
.svg___8JjYy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__hfsd7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__abrrK:global(.__wab_instance) {
  position: relative;
}
.svg___0JgHg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__dT47L {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
