.root {
  display: flex;
  position: relative;
  flex-direction: row;
  background: #1a3040;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  max-width: 101px;
  width: 100%;
  height: 39px;
  min-width: 0;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  border-radius: 6px;
  padding: 12px 20px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.rootshowStartIcon {
  padding-left: 16px;
}
.rootshowEndIcon {
  padding-right: 16px;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.rootshape_rounded {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  border-radius: 999px;
}
.rootshape_round {
  border-radius: 50%;
  padding: 12px;
}
.rootshape_sharp {
  border-radius: 0px;
}
.rootsize_compact {
  padding: 6px 16px;
}
.rootsize_minimal {
  padding: 0px;
}
.rootcolor_persianGreen {
  background: #00a693;
  border-width: 1px;
  border-style: none;
}
.rootcolor_softPersianGreen {
  background: #00a6934d;
  border: 1px solid #00a693;
}
.rootcolor_lineButton {
  background: none;
  border-width: 1px;
  border-style: none;
}
.rootcolor_softBlue {
  background: #dbe4e8;
  border: 1px solid var(--token-p90oFmmuP);
}
.rootselected_lineButtonSelected {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  background: none;
  border-radius: 0px;
  border-width: 1px;
  border-color: var(--token-p90oFmmuP);
}
.rootshowStartIcon_shape_rounded {
  padding-left: 16px;
}
.rootshowEndIcon_shape_rounded {
  padding-right: 16px;
}
.rootshape_round_size_compact {
  padding: 6px;
}
.root:hover {
  background: var(--token-T6503Gj39);
  border-width: 1px;
  border-style: none;
}
.rootcolor_persianGreen:hover {
  background: #02b8a3;
  border-width: 1px;
  border-style: none;
}
.rootcolor_softPersianGreen:hover {
  background: #00a693;
}
.rootcolor_lineButton:hover {
  background: none;
  border-bottom-style: solid;
  border-radius: 0px;
  border-color: var(--token-p90oFmmuP);
}
.rootcolor_softBlue:hover {
  background: var(--token-p90oFmmuP);
  border-style: none;
}
.root:focus-within {
  box-shadow: none;
  background: var(--token-T6503Gj39);
  outline: none;
  border-width: 1px;
  border-style: none;
}
.root:focus-within > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
}
.root:focus-within {
  background: #00a693cc;
  outline: none;
  border: 1px none #000000;
}
.rootcolor_persianGreen:focus-within {
  background: #02c8b1;
  outline: none;
  border-width: 1px;
  border-style: none;
}
.rootcolor_softPersianGreen:focus-within {
  background: #00a693cc;
  outline: none;
  border-color: var(--token-T6503Gj39);
}
.rootcolor_lineButton:focus-within {
  background: none;
  box-shadow: none;
  border-bottom-style: solid;
  border-bottom-color: var(--token-p90oFmmuP);
  outline: none;
  border-radius: 0px;
}
.rootcolor_softBlue:focus-within {
  background: var(--token-p90oFmmuP);
  outline: none;
}
.root___focusVisibleWithin {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
}
.rootcolor_softBlue____focusVisibleWithin {
  box-shadow: none;
  background: var(--token-p90oFmmuP);
  outline: none;
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.startIconContainershowStartIcon {
  display: flex;
}
.slotTargetStartIcon {
  color: #ededec;
}
.slotTargetStartIconcolor_lineButton {
  color: #35290f;
}
.svg__bL0Bp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.root:focus-within .contentContainer {
  box-shadow: none;
  outline: none;
}
.root .contentContainer___focusVisibleWithin {
  outline: none;
}
.slotTargetChildren {
  color: #ededec;
  font-weight: 500;
  white-space: pre;
}
.slotTargetChildrencolor_persianGreen {
  color: #ffffff;
}
.slotTargetChildrencolor_softPersianGreen {
  color: #ffffff;
}
.slotTargetChildrencolor_lineButton {
  color: #1a3040cc;
}
.slotTargetChildrencolor_softBlue {
  color: var(--token-p90oFmmuP);
}
.slotTargetChildrenselected_lineButtonSelected {
  color: var(--token-p90oFmmuP);
}
.slotTargetChildrenselected_lineButtonSelected > :global(.__wab_text),
.slotTargetChildrenselected_lineButtonSelected > :global(.__wab_expr_html_text),
.slotTargetChildrenselected_lineButtonSelected
  > :global(.__wab_slot-string-wrapper),
.slotTargetChildrenselected_lineButtonSelected
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetChildrenselected_lineButtonSelected
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetChildrenselected_lineButtonSelected
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetChildrenselected_lineButtonSelected
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetChildrenselected_lineButtonSelected
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetChildrenselected_lineButtonSelected
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetChildrenselected_lineButtonSelected
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetChildrenselected_lineButtonSelected
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetChildrenselected_lineButtonSelected
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: none;
}
.rootcolor_lineButton:hover .slotTargetChildrencolor_lineButton {
  color: #1a3040;
}
.rootcolor_lineButton:hover
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_text),
.rootcolor_lineButton:hover
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_expr_html_text),
.rootcolor_lineButton:hover
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot-string-wrapper),
.rootcolor_lineButton:hover
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_lineButton:hover
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor_lineButton:hover
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolor_lineButton:hover
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_lineButton:hover
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor_lineButton:hover
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolor_lineButton:hover
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_lineButton:hover
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor_lineButton:hover
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: none;
}
.rootcolor_softBlue:hover .slotTargetChildrencolor_softBlue {
  color: var(--token-jgohepLVeKvh);
}
.root:focus-within .slotTargetChildren > *,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within .slotTargetChildren > picture > img,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > picture > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_text),
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_expr_html_text),
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot-string-wrapper),
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: none;
}
.rootcolor_lineButton:focus-within .slotTargetChildrencolor_lineButton > *,
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > *,
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > picture
  > img,
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > picture
  > img,
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.rootcolor_lineButton:focus-within
  .slotTargetChildrencolor_lineButton
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.rootcolor_softBlue:focus-within .slotTargetChildrencolor_softBlue {
  color: var(--token-jgohepLVeKvh);
}
.rootcolor_softBlue:focus-within .slotTargetChildrencolor_softBlue > *,
.rootcolor_softBlue:focus-within
  .slotTargetChildrencolor_softBlue
  > :global(.__wab_slot)
  > *,
.rootcolor_softBlue:focus-within
  .slotTargetChildrencolor_softBlue
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.rootcolor_softBlue:focus-within
  .slotTargetChildrencolor_softBlue
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.rootcolor_softBlue:focus-within
  .slotTargetChildrencolor_softBlue
  > picture
  > img,
.rootcolor_softBlue:focus-within
  .slotTargetChildrencolor_softBlue
  > :global(.__wab_slot)
  > picture
  > img,
.rootcolor_softBlue:focus-within
  .slotTargetChildrencolor_softBlue
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.rootcolor_softBlue:focus-within
  .slotTargetChildrencolor_softBlue
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.root .slotTargetChildren___focusVisibleWithin > *,
.root .slotTargetChildren___focusVisibleWithin > :global(.__wab_slot) > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root .slotTargetChildren___focusVisibleWithin > picture > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.rootcolor_softBlue .slotTargetChildrencolor_softBlue____focusVisibleWithin {
  color: var(--token-jgohepLVeKvh);
}
.rootcolor_softBlue .slotTargetChildrencolor_softBlue____focusVisibleWithin > *,
.rootcolor_softBlue
  .slotTargetChildrencolor_softBlue____focusVisibleWithin
  > :global(.__wab_slot)
  > *,
.rootcolor_softBlue
  .slotTargetChildrencolor_softBlue____focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.rootcolor_softBlue
  .slotTargetChildrencolor_softBlue____focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.rootcolor_softBlue
  .slotTargetChildrencolor_softBlue____focusVisibleWithin
  > picture
  > img,
.rootcolor_softBlue
  .slotTargetChildrencolor_softBlue____focusVisibleWithin
  > :global(.__wab_slot)
  > picture
  > img,
.rootcolor_softBlue
  .slotTargetChildrencolor_softBlue____focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.rootcolor_softBlue
  .slotTargetChildrencolor_softBlue____focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.endIconContainershowEndIcon {
  display: flex;
}
.slotTargetEndIcon {
  color: #ededec;
}
.slotTargetEndIconcolor_lineButton {
  color: #35290f;
}
.svg___4C63J {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}
