.root {
  display: grid;
  align-content: center;
  justify-items: center;
  width: 100vw;
  height: 794px;
  position: relative;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
.root > * {
  grid-column: 4;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 172px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
