.menuBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 8vh;
  max-width: 100%;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.links {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.links > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.links > :global(.__wab_flex-container) > *,
.links > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.links > :global(.__wab_flex-container) > picture > img,
.links > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 15px;
}
.sarvButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 127px;
  flex-shrink: 0;
}
.svg___9F8Ns {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__iwJne {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.link__zwN2G {
  position: relative;
  color: #ffffff;
}
.link__lB0Kp {
  position: relative;
  color: #ffffff;
}
.link__cayyu {
  position: relative;
  color: #ffffff;
}
.logo {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 30%;
  min-width: 0;
  padding: 8px;
}
.logo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.logo > :global(.__wab_flex-container) > *,
.logo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logo > :global(.__wab_flex-container) > picture > img,
.logo > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 15px;
}
.text__toE5T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #ffffff;
  min-width: 0;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 3vh;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
